@import "tailwindcss";
@plugin "daisyui";
@config "../../tailwind.config.ts";

/* SVG STYLE */
.navbar_section {
  a {
    text-decoration: none;
    border-radius: 8px;
    color: #F9FAFB;
    font-weight: 500;
    transition: color 0.25s;
  }
  a:hover {
    color: #60A5FA;
  }
}
.svg_title {
  color: #60A5FA;
}

/* BACKGROUND-COLOR DEV */
  #app {
    background-color: #0A0F1F;
  }
  .navbar_section {
    background-color: #0b1120f5;
    height: 5rem;
  }