@import "tailwindcss";
@plugin "daisyui";
@config "../../tailwind.config.ts";

/* font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; */
body,button,input,optgroup,select,textarea {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

@media (min-width: 768px) {
  .section {

  }
}
@media (min-width: 1024px) {
  .section {

  }
}
@media (min-width: 1440px) {
  .section {
    padding-block-end: 0;
    padding-block-start: 70px;
  }
}


/* SVG STYLE */
.svg_title {
  color: #60A5FA;
}

/* BACKGROUND-COLOR DEV */
  #app {
    background-color: #0A0F1F;
  }
